# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.env.*

# Virtual envs
backend/venv/
backend/.venv/
venv/
.venv/

# Env Variables

backend/env/
backend/.env/
env/
.env/

# IDE
.vscode/
.idea/

vcs.xml
misc.xml
runalyst.iml

node_modules
expo-env.d.ts
.expo